<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% "_signin_form.html" %>

<div class="container">  
  <header><h1> USER DETAILS </h1></header>
  <section>				
  <div id="container_demo" >
    <div id="wrapper">
      <div id="login" class="animate form">
          <form  action="mysuperscript.php" autocomplete="on"> 
            <h1> CREATE / EDIT USER </h1> 
            <p> 
              <label for="usernamesignup" class="uname" data-icon="u">Your username</label>
              <input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="myusername" />
            </p>
            <p> 
              <label for="firstnamesignup" class="fname" data-icon="u">Your username</label>
              <input id="firstnamesignup" name="firstnamesignup" required="required" type="text" placeholder="myfirstname" />
            </p>
            <p> 
              <label for="lastnamesignup" class="lname" data-icon="u">Your username</label>
              <input id="lastnamesignup" name="lastnamesignup" required="required" type="text" placeholder="mylastname" />
            </p>
            <p> 
              <label for="emailsignup" class="youmail" data-icon="e" > Your email</label>
              <input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="mysupermail@mail.com"/> 
            </p>
            <p> 
              <label for="rolesignup" class="yourole" > Your role</label>
              <select id="rolesignup" title ="rolesignup" name="rolesignup" size="2" multiple="multiple">
              <option name=admin value=admin> admin </option>
              <option name=basic value=basic> basic </option>
              <option name=power value=power> power </option>
              <option name=super value=super> super </option>
              </select>
            </p>
            <p> 
              <label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
              <input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="eg.X8df!90EO"/>
            </p>
            <p> 
              <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
              <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="eg. X8df!90EO"/>
            </p>
            <p class="signin button"> 
              <input type="submit" value="Save"/> 
            </p>  
          </form>
          <%= link_to 'Show', @user %> |
        	<%= link_to 'Back', users_path %>
        </div>		
      </div>
    </div>  
  </section>
</div>
    
    
    